body {
  padding: 0;
  margin: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fixer
th {
  text-align: center
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> dev
=======



>>>>>>> fix
=======
>>>>>>> parent of 4b82c62... Removed extraneous css-stylings, fixed Jumbotron color.
=======

>>>>>>> fixer
@media all and (max-width: 1050px) {
    h1 {
      font-size: 45px;
    }

    thead {
      font-size: 24px;
    }

    td {
      font-size: 18px;
    }

    .jumbotron .container{
        padding-top: 15%;
    }

    h1 .jumbotron{
      font-size: 60px;
    }

    .about p {
<<<<<<< HEAD
<<<<<<< HEAD
      /* background: red; */
      min-width:90%;
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> fix
    }

    .lead p {
      font-size: 28px;
    }

<<<<<<< HEAD
=======
=======

>>>>>>> fix
      font-size: 20px;
=======
      /* background: red; */
      min-width:90%;
>>>>>>> fixer
    }

    .lead p {
      font-size: 28px;
<<<<<<< HEAD
    }

>>>>>>> dev


=======
      width: 80%;
    }
>>>>>>> parent of 4b82c62... Removed extraneous css-stylings, fixed Jumbotron color.
=======
    }


>>>>>>> fixer
}

@media all and (max-height: 500px) {
  .jumbotron .container {
    padding-top: 0;
    /* background: blue; */
  }
}

.jumbotron a {
  color:inherit;
  text-decoration: none;
}

a:hover {
  color:orange;
  text-decoration: none;
}

.jumbotron {
  height: 100vh;
  /* height: 100%; */
  background: #25282d;
  color: #FFFF;
  padding-top: 15%;
  min-height: 500px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fixer
}

.about p {
  font-size: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> dev
=======

>>>>>>> fix
=======
  min-height: 350px;
>>>>>>> parent of 4b82c62... Removed extraneous css-stylings, fixed Jumbotron color.
=======
>>>>>>> fixer
}

.jumbo-btn {
  padding-top: 30px;
}

.skills{
  padding-top: 50px;
}

.skill {
  height: 20vh;
  padding-top: 1.5em;
  padding-right: 0;
  min-height: 100px;
  margin: 10 auto;
}

.python-box {
  color: #5361ad;
}

.js-box {
  color: #338a8c;
}

.html-box {
  color: #853799;
}

.css-box {
  color: #f48f42;
}

.about p {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}
